html {
  font-size: 16px;
}

.map-container{
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
height: 0;
/*border:3px solid red;*/
}

.text-center {
  font-family: 'Quicksand', sans-serif;
}

.container p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

@media only screen and (max-width: 480px), (orientation: portrait) {
    /* ruleset for width less than 480px (mobile users) */
  html {
  font-size: 12px;
  }
}