html {
  font-size: 16px;
}

/*<!-- Jumbotron -->*/
.jumbotron {
  padding-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  opacity: 0.95;
}


.hours {
  margin-top: -2.5rem;
  }

.store_intro {
  margin-left: 10%;
  margin-right: 10%;
}

/*<!-- Text -->*/
.container h1{
  color: red;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.02em;
  font-weight: 550;
  font-size: 2.5rem;
  margin-top: 0px;
  padding-top: 5%;
  margin-bottom: 1%;
  text-transform: uppercase;
}

.container h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.container span {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.6rem;
  /* border: 1px solid red; */
  color: black;
  margin-bottom: 280px;
}

.container p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.order_now {
  font-size: 1.5rem;
}

/*<!-- Photo Gallery -->*/
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.shop_now {
  font-size: 1.125rem;
}

/*<!-- Responsive Design -->*/
@media only screen and (max-width: 960px) and (orientation: portrait) {
  html {
    margin: 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 480px), (orientation: portrait) {
    /* ruleset for width less than 480px (mobile users) */
  html {
  font-size: 12px;
  }

  .hours {
  margin: -2.5rem 0 0 0;
  }

  .store_intro {
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 0;
  padding-right: 0;
  }
}