
.justify-content-center p {
  margin-top: 2%;
  text-decoration: none;
  color:white;
  height:15vh;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.02em;
  font-weight: 550;
  font-size: 50px;

}
