html {
  font-size: 16px;
}

.jumbotron {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    width: 100vw;
    padding: 0px;
  }

h4 {
  font-family: 'Raleway', sans-serif;
}

.shop_text {
  margin-left: 15%;
}

p {
  font-family: 'Quicksand', sans-serif;
}

.justify-content-center h4 {
  font-family: 'Raleway', sans-serif ;
  font-weight: 600;
  font-size: 1.45rem;
  text-transform: uppercase;
}

.justify-content-center p {
  font-family: 'Quicksand';
  font-size: 1.125rem;
  font-weight: 600;
}

@media only screen and (max-width: 480px), (orientation: portrait) {
    /* ruleset for width less than 480px (mobile users) */
  html {
  font-size: 12px;
  }

  .shop_text {
  margin-left: 3%;
  margin-right: 3%;
  }
}