<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css2?family=Quicksand&display=swap' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/jpg" href="../assets/img/ee_favicon.png"/>

    <!-- Bootstrap CSS -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->


    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

</head>
<body>
  <!-- Navbar Component -->
  <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white my-0 py-0">
          <a href="../index.html"><img src="../assets/img/ee_logo.jpg" height="80px" class="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto float-sm-right">
              <li class="nav-item active mx-3">
                <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item mx-3 dropdown">
                <a class="nav-link dropdown-toggle" href="../menu" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Menu</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="../menu">Featured Product</a>
                    <a class="dropdown-item" href="../meat_pack">Meat Package</a>
                    <a class="dropdown-item" href="../flyer">Flyer</a>
                    <a class="dropdown-item" href="../jerky_wholesale">Jerky Wholesale</a>
                  </div>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="../shop">Shop</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link" href="../contact">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>

    <section>
      {{ content }}
    </section>

  <!-- Footer -->
    <footer>
      <div class="row bg-dark">
          <div class="col-sm-11 col-md-5" style="margin-left:10px;">
            <h4 class="text-white">VISIT US</h4>
            <p class="text-white">Open 9AM - 6PM: Tuesday - Saturday<br>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 12PM - 4PM: Sunday<br>Closed Monday<br><br>123 Regent Avenue East<br>Winnipeg, MB R2C 0C2<br>(1)204-222-4888<br><br><br><br><br>&copy; Eastend Meats & Sausage</p>
          </div>

          <div class="col-sm-11 col-md-5" style="margin-left:10px;">
              <h4 class="text-white">FOLLOW US</h4><br>
              <div class="row" id="social_media">
                <div class="col-1"><!--col-3 col-md-4-->
                  <a href="http://www.facebook.com/eastendmeatsandsausage/" target="_blank"><img src="../assets/img/f.png" style="width: 30px; margin-top: -90%;" class="d-inline" id="f" alt="facebook"/></a>
                </div>
                <div class="col-1">
                  <a href="http://www.instagram.com/eastendmeats/" target="_blank"><img src="../assets/img/i.png" style="width: 30px; margin-top: -90%;" class="d-inline" id="i" alt="instagram"/></a>
                </div>
                <div class="col-1">
                  <a href="http://www.twitter.com/EastendMeats" target="_blank"><img src="../assets/img/t.png" style="width: 30px; margin-top: -90%;" class="d-inline" id="t" alt="twitter"/></a>
                </div>
              </div>

              <div class="row">
                  <!-- <section class="home-newsletter bg-dark">
                  <div class="col-sm-4 col-md-6 mt-4">
                      <h4 class="text-white">SUBSCRIBE</h4><p class="text-white">Sign up with your email address to receive news and updates.</p>
                      <div class="input-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <span class="input-group-btn">
                        <button class="btn btn-theme text-white rounded-pill border-white" type="submit" style="margin-left:10px;">SIGN UP</button>
                        </span>
	                  </div>
                  </div>
                  </section> -->
              </div>
          </div>
      </div>
    </footer>

    <!-- Bootstrap's JavaScript Files -->
<!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>